<ion-header>
  <ion-navbar class="navbar">
    <ion-grid no-padding>
      <ion-row align-items-center class="navbarSection">
        <ion-col col-4 class="menuSection">
          <button tappable ion-button menuToggle>
                        <ion-icon name="menu"></ion-icon>
                        <div>
                            Menu
                        </div>
                    </button>
        </ion-col>
        <ion-col col-4 class="titleSection">
          <ion-title>
            <h5>Players</h5>
          </ion-title>
        </ion-col>

      </ion-row>
      <ion-row align-items-center class="categoriesSection">
        <ion-col class="center">
          <ion-segment>
            <ion-segment-button value="0">
              <h6>
                All
              </h6> 
            </ion-segment-button>
            <ion-segment-button value="1">
              <h6>
                Male
              </h6>
            </ion-segment-button>
            <ion-segment-button value="2">
              <h6>
                Female
              </h6>
            </ion-segment-button>
          </ion-segment>
        </ion-col>
      </ion-row>
      <ion-row align-items-center class="groupsSection">
        <ion-col col-lg-3 col-md-4 col-sm-4 col-12 class="filterSection">
          <div>
            <ion-searchbar class="filter-searchbar" placeholder="Search...">

            </ion-searchbar>
          </div>
        </ion-col>
        <ion-col col-lg-6 col-md-5 col-sm-5 col-12 class="center">

        </ion-col>
        <ion-col col-lg-3 col-md-3 col-sm-3 col-xs-12 align="right" class="map-text show-list">

        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>
<ion-content class="backcolor-pagegray">
  <div style="margin:8px">
    <div>
      <ion-grid>
        <ion-spinner class="loading-center" *ngIf="loadingCustomers"></ion-spinner>
        <ion-row>
          <ion-col class="column-bold" style="margin-left:75px">
            Player Details
          </ion-col>
          <ion-col col-3 class="column-bold">
          </ion-col>
          <ion-col col-6 class="column-bold" no-padding>
            <ion-grid>
              <ion-row>
                <ion-col col-4 class="img-section1">
                  <!--Month to Date Sells-->
                </ion-col>
                <ion-col col-6 align="left" class="img-section1">
                  Info
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div>
        <ion-card class="customer-section">
          <ion-grid no-padding>
            <ion-row align-items-center style="background-color:white">
              <ion-col col-md-6 col-sm-12 col-xs-12>
                <ion-grid no-padding>
                  <ion-row align-items-center class="cust-title">
                    <ion-col col-6 tappable align="left">
                      <ion-item>
                        <ion-avatar item-left class="img-section1" style="max-width: 20px">
                          <ion-icon name="contact" class="icon-big"></ion-icon>
                          <!--<ion-icon name="contact" class="icon-big" *ngIf="item.MainMediaUrl == ''"></ion-icon>
                                                    <img src="{{item.MainMediaUrl}}&r=1" *ngIf="item.MainMediaUrl != ''" />-->
                        </ion-avatar>
                        <h6 class="customer-text">Missak Boyajian</h6>
                      </ion-item>
                    </ion-col>
                    <ion-col col-6 align="center">
                      <div style="float:left" class="customers-category-button">
                        <h6 class="categorytext">

                        </h6>
                      </div>
                      <div style="float:left;margin-left:5px" class="customers-group-button">
                        <h6 class="subcategorytext-list">

                        </h6>
                      </div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-col>
              <ion-col col-md-6 col-sm-12 col-xs-12 class="img-section1">
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
        <ion-card class="customer-section">
          <ion-grid no-padding>
            <ion-row align-items-center style="background-color:white">
              <ion-col col-md-6 col-sm-12 col-xs-12>
                <ion-grid no-padding>
                  <ion-row align-items-center class="cust-title">
                    <ion-col col-6 tappable align="left">
                      <ion-item>
                        <ion-avatar item-left class="img-section1" style="max-width: 20px">
                          <ion-icon name="contact" class="icon-big"></ion-icon>
                          <!--<ion-icon name="contact" class="icon-big" *ngIf="item.MainMediaUrl == ''"></ion-icon>
                                                    <img src="{{item.MainMediaUrl}}&r=1" *ngIf="item.MainMediaUrl != ''" />-->
                        </ion-avatar>
                        <h6 class="customer-text">Paul PUSAG</h6>
                      </ion-item>
                    </ion-col>
                    <ion-col col-6 align="center">
                      <div style="float:left" class="customers-category-button">
                        <h6 class="categorytext">

                        </h6>
                      </div>
                      <div style="float:left;margin-left:5px" class="customers-group-button">
                        <h6 class="subcategorytext-list">

                        </h6>
                      </div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-col>
              <ion-col col-md-6 col-sm-12 col-xs-12 class="img-section1">
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
        <ion-card class="customer-section">
          <ion-grid no-padding>
            <ion-row align-items-center style="background-color:white">
              <ion-col col-md-6 col-sm-12 col-xs-12>
                <ion-grid no-padding>
                  <ion-row align-items-center class="cust-title">
                    <ion-col col-6 tappable align="left">
                      <ion-item>
                        <ion-avatar item-left class="img-section1" style="max-width: 20px">
                          <ion-icon name="contact" class="icon-big"></ion-icon>
                          <!--<ion-icon name="contact" class="icon-big" *ngIf="item.MainMediaUrl == ''"></ion-icon>
                                                    <img src="{{item.MainMediaUrl}}&r=1" *ngIf="item.MainMediaUrl != ''" />-->
                        </ion-avatar>
                        <h6 class="customer-text">RANI THE BEST PUSAGGGG</h6>
                      </ion-item>
                    </ion-col>
                    <ion-col col-6 align="center">
                      <div style="float:left" class="customers-category-button">
                        <h6 class="categorytext">

                        </h6>
                      </div>
                      <div style="float:left;margin-left:5px" class="customers-group-button">
                        <h6 class="subcategorytext-list">

                        </h6>
                      </div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-col>
              <ion-col col-md-6 col-sm-12 col-xs-12 class="img-section1">
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </div>
    </div>
  </div>

</ion-content>