<ion-header>
  <ion-navbar class="navbar">
    <ion-grid no-padding>
      <ion-row align-items-center class="navbarSection">
        <ion-col col-4 class="menuSection">
          <button tappable ion-button menuToggle>
                        <ion-icon name="menu"></ion-icon>
                        <div>
                            Menu
                        </div>
                    </button>
        </ion-col>
        <ion-col col-4 class="titleSection">
          <ion-title>
            <h5>Players</h5>
          </ion-title>
        </ion-col>

      </ion-row>
      <ion-row align-items-center class="categoriesSection">
        <ion-col class="center">
          <ion-segment>
            <ion-segment-button value="0">
              <h6>
                All
              </h6>
            </ion-segment-button>
            <ion-segment-button value="1">
              <h6>
                Male
              </h6>
            </ion-segment-button>
            <ion-segment-button value="2">
              <h6>
                Female
              </h6>
            </ion-segment-button>
          </ion-segment>
        </ion-col>
      </ion-row>
      <ion-row align-items-center class="groupsSection">
        <ion-col col-lg-3 col-md-4 col-sm-4 col-12 class="filterSection">
          <div>
            <ion-searchbar class="filter-searchbar" placeholder="Search...">

            </ion-searchbar>
          </div>
        </ion-col>
        <ion-col col-lg-6 col-md-5 col-sm-5 col-12 class="center">

        </ion-col>
        <ion-col col-lg-3 col-md-3 col-sm-3 col-xs-12 align="right" class="map-text show-list">

        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>
<ion-content class="backcolor-pagegray">
  <div style="margin:8px">
    <div>
      <ion-grid>
        <ion-row align-items-center>
          <ion-col col-1>

          </ion-col>
          <ion-col col-3 align="left">
            Name
          </ion-col>
          <ion-col col-1 align="left">
            <h6>
              Rank
            </h6>
          </ion-col>

        </ion-row>
      </ion-grid>
      <div>
        <ion-card class="customer-section">
          <ion-grid no-padding>
            <ion-row align-items-center style="background-color:white">
              <ion-col col-1>
                <ion-item>
                  <ion-avatar item-left class="img-section1" style="max-width: 20px">
                    <ion-icon name="contact" class="icon-big"></ion-icon>
                    <!--<ion-icon name="contact" class="icon-big" *ngIf="item.MainMediaUrl == ''"></ion-icon>
                                                    <img src="{{item.MainMediaUrl}}&r=1" *ngIf="item.MainMediaUrl != ''" />-->
                  </ion-avatar>

                </ion-item>
              </ion-col>
              <ion-col col-3 align="left">
                <h6 class="customer-text">Missak Boyajian</h6>
              </ion-col>
              <ion-col col-1 align="left">
                <h6 class="customer-text">1</h6>
              </ion-col>

            </ion-row>

            <ion-row align-items-center style="background-color:white">
              <ion-col col-1>
                <ion-item>
                  <ion-avatar item-left class="img-section1" style="max-width: 20px">
                    <ion-icon name="contact" class="icon-big"></ion-icon>
                    <!--<ion-icon name="contact" class="icon-big" *ngIf="item.MainMediaUrl == ''"></ion-icon>
                                                    <img src="{{item.MainMediaUrl}}&r=1" *ngIf="item.MainMediaUrl != ''" />-->
                  </ion-avatar>

                </ion-item>
              </ion-col>
              <ion-col col-3 align="left">
                <h6 class="customer-text">PAUL THE MAW</h6>
              </ion-col>
              <ion-col col-1 align="left">
                <h6 class="customer-text">2</h6>
              </ion-col>

            </ion-row>

            <ion-row align-items-center style="background-color:white">
              <ion-col col-1>
                <ion-item>
                  <ion-avatar item-left class="img-section1" style="max-width: 20px">
                    <ion-icon name="contact" class="icon-big"></ion-icon>
                    <!--<ion-icon name="contact" class="icon-big" *ngIf="item.MainMediaUrl == ''"></ion-icon>
                                                    <img src="{{item.MainMediaUrl}}&r=1" *ngIf="item.MainMediaUrl != ''" />-->
                  </ion-avatar>

                </ion-item>
              </ion-col>
              <ion-col col-3 align="left">
                <h6 class="customer-text">ANNA THE MEW POUCHAG</h6>
              </ion-col>
              <ion-col col-1 align="left">
                <h6 class="customer-text">3</h6>
              </ion-col>

            </ion-row>

            <ion-row align-items-center style="background-color:white">
              <ion-col col-1>
                <ion-item>
                  <ion-avatar item-left class="img-section1" style="max-width: 20px">
                    <ion-icon name="contact" class="icon-big"></ion-icon>
                    <!--<ion-icon name="contact" class="icon-big" *ngIf="item.MainMediaUrl == ''"></ion-icon>
                                                    <img src="{{item.MainMediaUrl}}&r=1" *ngIf="item.MainMediaUrl != ''" />-->
                  </ion-avatar>

                </ion-item>
              </ion-col>
              <ion-col col-3 align="left">
                <h6 class="customer-text">NINA THE NONA</h6>
              </ion-col>
              <ion-col col-1 align="left">
                <h6 class="customer-text">4</h6>
              </ion-col>

            </ion-row>

            <ion-row align-items-center style="background-color:white">
              <ion-col col-1>
                <ion-item>
                  <ion-avatar item-left class="img-section1" style="max-width: 20px">
                    <ion-icon name="contact" class="icon-big"></ion-icon>
                    <!--<ion-icon name="contact" class="icon-big" *ngIf="item.MainMediaUrl == ''"></ion-icon>
                                                    <img src="{{item.MainMediaUrl}}&r=1" *ngIf="item.MainMediaUrl != ''" />-->
                  </ion-avatar>

                </ion-item>
              </ion-col>
              <ion-col col-3 align="left">
                <h6 class="customer-text">RANI THE BEST NOOBY</h6>
              </ion-col>
              <ion-col col-1 align="left">
                <h6 class="customer-text">5</h6>
              </ion-col>

            </ion-row>
          </ion-grid>
        </ion-card>
      </div>
    </div>
  </div>

</ion-content>